
.section{
    background-color: grey;
    height: 60px;
    width:380px;
    margin:40px 250px 0px 550px;
    align-items: center;
}
.row div{
    align-items: center;
}
col-8 h3{
    color:grey;
}
.row.col-4{
    width:40px;
    background-color: grey;
    margin:10px 10px 0px 0px;
}
.row.col-8{
    background-color: aliceblue;
    width: 320px;
    margin:10px 0px 0px 10px;
}